######################### Resource Files #########################
sounds/
pics/

######################### Training Files #########################
main/poses_images*/
main/*.csv
main/*.tflite
*.ipynb_checkpoints
main/pose_data/examples*
main/pose_data/test/*
main/pose_data/train/crossleg/*
main/pose_data/train/forwardhead/*
main/pose_data/train/standard/*

### Upload example pictures
!main/pose_data/train/standard/standard_012.jpg
!main/pose_data/train/forwardhead/forwardhead_010.jpg
